/* NIFFY */
.invoice-result {
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom-width: 1px;
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
}

.inv-company {
    color: #444444;
    font-size: large;
}

.inv-description {
    color: #aaaaaa;
    font-size: small;
}

.inv-date {
    color: #aaaaaa;
    font-size: small;

}

.inv-total {
    color: #444444;
    font-size: large;
}
